{% extends 'Leads/base.html' %}
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-full w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4 font text-center">Agent {{agent_detail.user.first_name}} {{agent_detail.user.last_name}} Details</h1>
          <div class="flex mb-4 ">
            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1 font2 text-center">Description</a>
          </div>
          <p class="leading-relaxed mb-4 font3"> As an IT Support Engineer you’
            ll enjoy a fast-paced, busy, fun environment working as part of a team. Each day presents
            different challenges! The service department is extremely busy and challenging and requires 
            a person with the right combination of customer facing skills and technical know-how.</p>
          <div class="flex border-t border-gray-200 py-2">
            <span class="font">First Name</span>
            <span class="ml-auto text-gray-900 font3">{{agent_detail.user.first_name}}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="font">Last Name</span>
            <span class="ml-auto text-gray-900 font3">{{agent_detail.user.last_name}}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="font">Email</span>
            <span class="ml-auto text-gray-900 font3">{{agent_detail.user.email}}</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="font">Age</span>
            <span class="ml-auto text-gray-900 font3">30</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="font">Location</span>
            <span class="ml-auto text-gray-900 font3">USA Los Angelis</span>
          </div>
          <div class="flex border-t border-gray-200 py-2">
            <span class="font">Cell Phone</span>
            <span class="ml-auto text-gray-900 font3">000-333-4444-5555</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2">
            <span class="font">Responsible Orgarnization</span>
            <span class="ml-auto text-gray-900 font3">{{agent_detail.orgarnization.user.first_name }} {{agent_detail.orgarnization.user.last_name }}</span>
          </div>
          <div class="flex"><a href="{% url 'agent_list' %}" class="text-center text-white w-full bg-blue-500 hover:bg-blue-600 px-5 py-2 mt-3 font rounded-md">Back</a></div>
          <div class="flex"><a href="{% url 'agent_delete' pk=agent_detail.pk %}" class="bg-indigo-600 border-0 text-white w-full px-5 py-2 mt-3 font rounded-md text-center focus:outline-none hover:bg-indigo-500">Delete Agent</a></div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}