{% extends 'Leads/base.html' %}
{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-2 flex justify-between items-center border-b border-gray-200">
            <div>
                <h4 class="font">Agent</h4>
            </div>
            <div>
                <a class="font hover:text-blue-500" href="{% url 'agent_create' %}">Create A New Agent</a>
            </div>
        </div>
      <div class="flex flex-wrap -m-4">
        {% for agents in all_agents %}
        <div class="p-4 lg:w-1/2 md:w-full">
          <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
            <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg font-medium mb-3 font2">{{agents.user.first_name}} {{agents.user.last_name}}</h2>
              <p class="leading-relaxed text-base font3">
              As an IT Support Engineer you’
              ll enjoy a fast-paced, busy, fun environment working as part of a team. Each day presents
              different challenges! The service department is extremely busy and challenging and requires 
              a person with the right combination of customer facing skills and technical know-how.
            </p>
              <a href="{% url 'agent_detail' pk=agents.pk %}" class="mt-3 text-indigo-500 inline-flex items-center font3">View This Agent
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="p-4 w-full"><h4 class="font">You currently have no Agents in your Profile</h4></div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}






