{% extends 'Leads/base.html' %}
{% load tailwind_filters %}
{% block content %}
<br>
<div class="max-w-lg mx-auto">
  <h4 class="font text-center">Login</h4>
  <div class="lead">
      <form action="" method="POST" class="mt-5">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="text-white w-full bg-blue-500 hover:bg-blue-600 px-5 py-2 font rounded-md">
              Login
          </button>
      </form>
  </div>
  <div class="py-5 border-t border-gray-200 mt-5">
      <a class=" font hover:text-blue-400" href="{% url 'password_reset' %}">Reset password</a> 
      </div>
  </div>
{% endblock content %}