{% extends 'Leads/base.html' %}
{% load static %}
{% block content %}
<section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{% static 'Leads/images/dashboard.svg' %}">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 font">You have been Logged Out</h1>
        <div class="flex justify-center">
          <a href="{% url 'login' %}" class="font">
            Login to get started
          </a>
        </div>
      </div>
    </div>
</section>
{% endblock content %}
<link href="{% static 'Leads/images/worker.ico' %}" rel="shortcut icon">