{% extends 'Leads/base.html' %}
{% load tailwind_filters %}
{% block content %}
    <br>
    <div class="max-w-lg mx-auto">
        <h4 class="font text-center">enter new password</h4>
            <div class="lead">
                <form action="" method="POST" class="mt-5">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="text-white w-full bg-blue-500 hover:bg-blue-600 px-5 py-2 mt-3 font rounded-md">
                        confirm new password
                    </button>
                </form>
            </div>
        </div>
{% endblock content %}
